.comment{
	margin-bottom:1em;
	font-size: 1em;
	padding: 5px;
	background-color: lightgrey;
	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#comment{
	width: 98%;
	min-width: 98%
}

.time {
   	font-size: 0.5 em;
 }